@charset 'utf-8';
//=========================================
//
// tenshoku-ex v3 tenshoku-ex button setting
//    date: 2016.04.15
//  author: vancho
// version: 0.0.1
//
//=========================================

// sample btn-demo style
.btn-demo:before{
  content:"button sample";
}

// borderの設定
@mixin btn-border-style($radius,$border-color){
  border-radius: $radius;
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color:darken($border-color,7%);
}

// ボタンの基本設定
%btn{
  display: inline-block;
  padding: .8rem 1.5rem;
  background: transparent;
  color: $z_color_white;
  text-decoration: none;
  @include textshadow-black;
  cursor: pointer;
  &:hover{
    color: $z_color_white;
    text-decoration: none;
    opacity: .8;
  }
}

// botton coloring
.btn-smokygray{
  @extend %btn;
  @include btn-border-style(4px,$smokey-gray);
  color: $chacole-gray;
  @include textshadow-white;
  background: $smokey-gray;
  &:hover{
    color: $chacole-gray;
  }
}
.btn-cherry-red{
  @extend %btn;
  @include btn-border-style(4px,$cherry-red);
  background: $cherry-red;
}
.btn-sky-blue{
  @extend %btn;
  @include btn-border-style(4px,$sky-blue);
  background: $sky-blue;
}
.btn-reaf-green{
  @extend %btn;
  @include btn-border-style(4px,$reaf-green);
  background: $reaf-green;
}
.btn-apricot-orange{
  @extend %btn;
  @include btn-border-style(4px,$apricot-orange);
  background: $apricot-orange;
}

//button sizing
.btn-medium{
  @include font-size(14);
  padding: .8rem 1.5rem;
}
.btn-small{
  @include font-size(9);
  padding: .5rem .8rem;
}
.btn-large{
  @include font-size(26);
  padding: 1.2rem 2rem;
}

// button styling
.btn-inline{
  display: inline;
}
.btn-block{
  display: block;
  width: 100%;
}
.btn-iblock{
  display: inline-block;
}

/*doc

---
title: button style
name: button style$
category: design
---

## anchr button style

``` html_example

<a class="btn-demo"></a>

<a class="btn-smokygray btn-demo"></a>
<a class="btn-cherry-red btn-demo"></a>
<a class="btn-sky-blue btn-demo"></a>
<a class="btn-reaf-green btn-demo"></a>
<a class="btn-apricot-orange btn-demo"></a>

```

## button sizing

``` html_example

<a class="btn-smokygray btn-medium btn-demo"></a>
<a class="btn-smokygray btn-small btn-demo"></a>
<a class="btn-smokygray btn-large btn-demo"></a>

```

## button display type

``` html_example

<p><a class="btn-smokygray btn-inline btn-demo"></a></p>
<p><a class="btn-smokygray btn-block btn-demo"></a></p>
<p><a class="btn-smokygray btn-iblock btn-demo"></a></p>

```

## button elements style demo

``` html_example

<div class="mb_20">
  <button class="btn-demo"></button>
  
  <button class="btn-smokygray btn-demo"></button>
  <button class="btn-cherry-red btn-demo"></button>
  <button class="btn-sky-blue btn-demo"></button>
  <button class="btn-reaf-green btn-demo"></button>
  <button class="btn-apricot-orange btn-demo"></button>
</div>
<div class="mb_20">
  <button class="btn-smokygray btn-medium btn-demo"></button>
  <button class="btn-smokygray btn-small btn-demo"></button>
  <button class="btn-smokygray btn-large btn-demo"></button>
</div>

```
*/
