//=========================================
//
// tenshoku-ex v3 flexbox layout helper
//    date: 2016.04.22
//  author: vancho
// version: 0.0.1
// refarence by http://codepen.io/irinakramer/pen/jcLlp
//
//=========================================
// DEMO mode setting
$base-color: rgba(0, 0, 0, .6);
$base-border-color: $z_color_black;

// Contents classes
.demo{
 .content-1of1::before { content: "1"; } 
 .content-1of2::before { content: "1/2"; }
 .content-1of3::before { content: "1/3"; }
 .content-1of4::before { content: "1/4"; }
 .content-1of6::before { content: "1/6"; }
 .content-1of12::before { content: "1/12"; }
}

.flexgrid{
  display: flex;
  flex-flow: row wrap;
}

// gutter setting
$gutter: 1em;

.flexgrid--gutters{
  margin-left: -$gutter;
  .flexgrid-cell{
    padding-left: $gutter;
  }
  .flexgrid--nested{
    .flexgrid--cell:first-of-type{
      .demo{
        margin-right: 1em;
      }
    }
  }
}

// justify per row
.flexgrid--right{
  justify-content: flex-end;
}
.flexgrid--center{
  justify-content: center;
}

// alignment per row
.flexgrid--top{
  align-items: flex-start;
}
.flexgrid--bottom{
  align-items: flex-end;
}
.flexgrid--center{
  align-items: center;
}

// alignment per cell
.flexgrid-cell-top{
  align-self: flex-start;
}
.flexgrid-cell-bottom{
  align-self: flex-end;
}
.flexgrid-cell-center{
  align-self: center;
}

// base classes for media - mobile first
.flexgrid--cols-2 > .flexgrid-cell{
  flex: 0 0 100%;
}
.flexgrid--cols-3 > .flexgrid-cell{
  flex: 0 0 100%;
}
.flexgrid--cols-4 > .flexgrid-cell{
  flex: 0 0 calc(50% - #{$gutter});
}
.flexbox--cols-6 > .flexgrid-cell{
  flex: 0 0 calc(33.3333% - #{$gutter});
}
.flexgrid--holly-grail{
  .aside, .main{
    flex: 1 100%;
  }
}

// one of -- columns
.flexgrid--1of2 > .flexgrid-cell,
.flexgrid--1of4 > .flexgrid-cell:first-of-type,
.flexgrid--1of3 > .flexgrid-cell:first-of-type{
  flex: 0 0 100%;
}
.flexgrid--1of6 > .flexgrid-cell:first-of-type{
  flex: 0 0 50%;
}
.flexgrid--fot > .flexgrid-cell{
  flex: 1;
}
.flexgrid--full > .flexgrid-cell{
  flex: 0 0 100%;
}

// tablet (medium) screen
@media (min-width: 30em){
  .flexgrid--cols-4 > .flexgrid-cell{
    flex: 0 0 calc(50% - #{$gutter});
  }
  .flexgrid--cols-6 > .flexgrid{
    flex: 0 0 calc(33.3333% - #{$gutter});
  }
  .flexgrid--cols-12 > .flexgrid-cell{
    flex: 0 0 calc(16.6666% - #{$gutter});
  }
  .flexgrid--holly-grail{
    .aside{
      flex: 1 calc(25% - #{$gutter});
    }
  }
  .flexgrid--1of2 > .flexgrid-cell{
    flex: 0 0 50%;
  }
  .flexgrid--1of6 > .flexgrid-cell:first-of-type{
    flex: 0 0 30%;
  }
  .flexgrid--1of3 > .flexgrid-cell:first-of-type{
    flex: 0 0 100%;
  }
}

@media (min-width: 48em) {
  .flexgrid--cols-2 > .felxgrid-cell,
  .flexgrid--cols-3 > .felxgrid-cell,
  .flexgrid--cols-4 > .felxgrid-cell,
  .flexgrid--cols-6 > .felxgrid-cell,
  .flexgrid--cols-12 >.felxgrid-cell{
    flex: 1;  
  }
  .Grid--holly-grail {
    .main    { flex: 2; }
    .aside   { flex: 1; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
  }
  .Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .Grid--1of6 > .Grid-cell:first-of-type {
    flex: 0 0 16.6666%;
  }
  .Grid--1of4 > .Grid-cell:first-of-type {
    flex: 0 0 25%;
  }
  .Grid--1of3 > .Grid-cell:first-of-type {
    flex: 0 0 30%;
  }
  .Grid--gutters.Grid--nested {
    .Grid-cell:first-of-type {
      .Demo {
        margin-right: 0;
      }
    }
  }
}
