@charset 'utf-8';

//=========================================
//
// tenshoku-ex v3 form setting
//    date: 2016.05.19
//  author: vancho
// version:0.0.1
//
//=========================================

.form{
  margin: 0;
  padding: 0;
  input[type='text'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='email'],
  input[type='url'],
  input[type='number'],
  input[type='datetime'],
  input[type='date'],
  input[type='week'],
  input[type='month'],
  textarea{
    border-radius: 4px;
    border: solid 1px rgba($chacole-gray, .5);
    padding: .2rem .4rem;
    transition: all linear .3s;
    &:focus{
      outline: 0 none;
      border-color: $cherry-red;
      box-shadow: 0 0 6px $cherry-red;
    }
  }
  .text-field-short{
    max-width: 5rem;
  }
  .text-field-medium{
    max-width: 12rem;
  }
  .text-field-long{
    width: 100%;
  }
  .textarea-half{
    width: 50%;
  }
  .textarea-large{
    width: 100%;
  }
}

/*doc
---
title: form style
name: form style
category: form
---

```html_example
<div class="form">
  <fieldset>
    <legend>Legend</legend>
    <p>もっとも、オッペケペッポーの攻勢に、ぐぅのネを上げた紳士や淑女がいたかどうか…西洋カブレとは、要するに欧米文化への信奉者のこと。〈鰯ノ頭ヲ信心〉する者があるならヨーロッパやアメリカの文物を信仰する者がいても一向に不思議はない。信ずる者の強さで、依然グラス片手に舞踏会、アン・ドゥ・トロヮとやっていたように思われる。</p>
    <form>
      <h2>Form Element</h2>
      <p>憶測になるが、むしろ辛かったのは庶民の中の飲んべぇ連中ではなかったか。ハイカラ族にユサぶりをかけた手前、泰西の酒には手を出しづらい。「なに、ビールだとぉ、べらぼーめ、こちとら人間サマでぃ、カニじゃあるめぇしアブクなんか飲めるかってんだ」などと強がりながらも、サゾ飲みたかったろうという気がする。</p>
      <p>
        <label for="text_field">テキストフィールド(text)：</label>
        <input type="text" id="text_field" />
      </p>
      <p>
        <label for="search_field">検索ワード</label>
        <input type="search" id="search_field">
      </p>
      <p>
        <label for="tel_field">電話番号</label>
        <input type="tel" id="tel_field">
      </p>
      <p>
        <label for="url_field">サイトアドレス</label>
        <input type="url" id="url_field">
      </p>
      <p>
        <label for="email_field">メールアドレス</label>
        <input type="email" id="email_field">
      </p>
      <p>
        <label for="password_field">パスワード</label>
        <input type="password" id="password_field">
      </p>
      <p>
        <label for="datetime_field">時間</label>
        <input type="datetime" id="datetime_field">
      </p>
      <p>
        <label for="date_field">日にち</label>
        <input type="date" id="date_field">
      </p>
      <p>
        <label for="month_field">月</label>
        <input type="month" id="month_field">
      </p>
      <p>
        <label for="week_field">週</label>
        <input type="week" id="week_field">
      </p>
      <p>
        <label for="number_field">number</label>
        <input type="number" id="number_field">
      </p>
      <p>
        <label for="file_field">file</label>
        <input type="file" id="file_field">
      </p>
      <p>
        <label for="text_area">テキストエリア(textarea)：</label><br />
        <textarea id="text_area"></textarea>
      </p>
      <p>
        <label for="select_element">セレクト(select)：</label><br />
        <select name="select_element">
        <optgroup label="Option Group 1">
          <option value="1">オプション 1</option>
          <option value="2">オプション 2</option>
          <option value="3">オプション 3</option>
        </optgroup>
        <optgroup label="Option Group 2">
          <option value="1">オプション 1</option>
          <option value="2">オプション 2</option>
          <option value="3">オプション 3</option>
        </optgroup>
      </select>
      </p>
      <p>
        <label for="radio_buttons">ラジオボタン(radio)：</label><br />
        <input type="radio" class="radio" name="radio_button" value="radio_1" /> ラジオボタン 1<br/>
        <input type="radio" class="radio" name="radio_button" value="radio_2" /> ラジオボタン 2<br/>
        <input type="radio" class="radio" name="radio_button" value="radio_3" /> ラジオボタン 3<br/>
      </p>
      <p>
        <label for="checkboxes">チェックボックス(checkbox)：</label><br />
        <input type="checkbox" class="checkbox" name="checkboxes" value="check_1" /> チェックボックス 1<br/>
        <input type="checkbox" class="checkbox" name="checkboxes" value="check_2" /> チェックボックス 2<br/>
        <input type="checkbox" class="checkbox" name="checkboxes" value="check_3" /> チェックボックス 3<br/>
      </p>
      <p><label for="password">パスワード(password)：</label><input type="password" class="password" name="password"></p>
      <p><label for="file">ファイル(file)：</label><input type="file" class="file" name="file"></p>
      <p><input class="button" type="reset" value="リセット(reset)" /> <input class="button" type="submit" value="サブミット(submit)" /></p>
      <p><label for="text-field-size-short">テキストフィールドサイズサンプル：short</label><input id="text-field-size-short" class="text-field-short" placeholder="text-field-size-short" type="text"></p>
      <p><label for="text-field-size-medium">テキストフィールドサイズサンプル：medium</label><input id="text-field-size-medium" class="text-field-medium" placeholder="text-field-size-medium" type="text"></p>
      <p><label for="text-field-size-long">テキストフィールドサイズサンプル：long</label><input id="text-field-size-long" class="text-field-long" placeholder="text-field-size-long" type="text"></p>
      <p>
        texarea:size_half<br>
        <textarea class="textarea-half"></textarea>
      </p>
      <p>
        textarea:size:large<br>
        <textarea class="textarea-large"></textarea>
      </p>
    </form>
  </fieldset>
</form>
```

*/
