@charset 'utf-8';

//=========================================
//
// tenshoku-ex v3 typography setting
//    date: 2016.04.15
//  author: vancho
// version:0.0.1
//
//=========================================


/*doc
---
title: typography setting
name: default setting
category: design
---

## default setting

### 見出し

``` html_example

<h1>見出しサンプル</h1>
<h2>見出しサンプル</h2>
<h3>見出しサンプル</h3>
<h4>見出しサンプル</h4>
<h5>見出しサンプル</h5>
<h6>見出しサンプル</h6>
```

---

### 本文・段落

``` html_example

<p>ゴーシュもゴーシュのかっかガラスらを窓に云っ小太鼓たた。</p>
<p>それからちょっとくたくたたでしとかいう虎たで。</p>
<p>くたくたうたんたらはだするとゴーシュの変がいのままでももう生意気でしまして、何じゃあとに飛び立ちせのたまし。考えすぎみんなは外がないますて一生けん命の町の扉めを云い第一ドレミファたちのおじぎがひきがくださいだだ。勢は前もっちゃいで。</p>
<p>狸も万いけゴーシュのようで考えとしまった。助けも床からだたりわたしがつっ込んでいじ。</p>
<p>鳥はたばこをどうに立って眼へ底のようにしてからだが睡っがにやにやかっこうに引きずっています。じっときっとけちで野鼠にやめるです。</p>
<p>それそうにたばこがなって子を困るだた。曲をちがいですう。</p>
<p>「楽長を思えた。セロ、みんなを気分。</p>
<p>消し。」何は前のうちのちょっといまのところを見ましじ。かっこうは大物とばかゴーシュに飛びたちとセロから糸をもごてじつはいま考えついせますときへしですた。</p>
<p>まるで返事云いて、呑みが出ていうて野ねずみへそれから自分とねから日ちがうだた。</p>
```

---

### 番号なしリスト

``` html_example

<ul>
  <li>リストサンプルテキスト</li>
  <li>リストサンプルテキスト</li>
  <li>リストサンプルテキスト</li>
</ul>
```

---

### 番号付きリスト

``` html_example

<ol>
  <li>リストサンプルテキスト</li>
  <li>リストサンプルテキスト</li>
  <li>リストサンプルテキスト</li> 
</ol>
```

ｰｰｰ

### 定義済みリスト

``` html_example

<dl>
  <dt>定義語サンプル</dt>
  <dd>定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。</dd>
</dl>

<dl>
  <dt>定義語サンプル</dt>
  <dd>定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。</dd>
</dl>

<dl>
  <dt>定義語サンプル</dt>
  <dd>定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。定義説明テキストサンプル。</dd>
</dl>
```

*/

//=========================================
// font size mixin setting
//=========================================
@mixin font-size($size: 24, $base: 14){
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

//=========================================
// base setting
//=========================================
html{
  @include font-size(14);
}

body{
  background: #fff;
  font-style: normal;
  font:100 1em/150%;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック体", "Yu Gothic", 'meiryo', 'メイリオ', sans-serif;
  color: $chacole-gray;
}


//=========================================
// anchr elements setting
//=========================================
a{
  color: #0c3bff;
  text-decoration: underline;
  &:hover{
    color: #0b85ff;
    text-decoration: none;
  }
}
//=========================================
// headline elements setting
//=========================================
%headline-bottom-margin{
  margin: 0 0 1rem 0;
}
h1,h2,h3,h4,h5,h6{
  @extend %headline-bottom-margin;
}
h1{
  @include font-size(36);
  small{
    @include font-size(36 / 2)
  }
}
h2{
  @include font-size(24);
  small{
    @include font-size(24 / 2);
  }
}
h3{
  @include font-size(18);
  small{
    @include font-size(18 /2);
  }
}
h4, h5, h6{
  @include font-size(14);
  small{
    @include font-size(14 / 2);
  }
}

//=========================================
// list style setting
//=========================================

ul{
  li{
    list-style: disc;
    
  }
}
ol{
  li{
    list-style: decimal;
  }
}
dl{
  margin: 0 0 2rem;
  padding: 0 0 0 1rem;
  dt{
    margin: 0;
  }
  dd{
    margin: 0 0 0 1rem;
  }
}
//=========================================
// paragraph style setting
//=========================================
p{
  margin: 0 0 1rem 0;
}



