@charset 'utf-8';
/*---------------------------------------------------
  * _z_common.scss
  * zigexn common footer class (sass partial file)
  * date:2015.1.21
  * author: vancho(kasumi suzuki)
  * version 0.0.2
  ---------------------------------------------------*/
//====================================================
// imageを読み込んでいる箇所があります
// railsに載せる際はimageのpathを変更してください。
// 例 <%= asset_path('logo.png') %>
//====================================================
.zigexn-footer{
  margin-top: 1rem;
  padding: 1rem 0 2rem;
  border-top: 3px solid $z_color_gray_130;
  background: #e3e3e3;
  a{
    color: $z_color_gray_70;
    text-decoration: none;
  }
  .inner{
    margin-right: auto;
    margin-left: auto;
    width: (960 / 16) * 1rem; //14のところにサイトのデフォルトフォントサイズを指定。
    ul{
      margin: 0;
      padding-left: 0;
      li{
        list-style: none;
      }
    }
    .zigexn-logo{
      display: block;
      width: (91 / 16) * 1rem;
      height: (31 / 16) * 1rem;
      background: url(../../../../../images/zigexnLogo.png);
    }
    .zigexn-policy{
      .privacy-mark{
        display: block;
        width: (55 / 16) * 1rem;
        height: (55 / 16) * 1rem;
        background-image: url(../../../../images/privacy.png);
      }
    }
  }
}
