@charset 'utf-8';
//=========================================
//
// tenshoku-ex v3 tenshoku-ex smartphone footer design.
//    date: 2016.05.23.
//  author: vancho
// version: 0.0.1
//
//=========================================

.global-footer{
  @include font-size(10);
  text-shadow: 1px 1px 0 $z_color_white;
  margin-top: (20 / 14) * 1rem;
  .clients-logo-area{
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 0;
    width: (960 / 16) * 1rem;
    ul{
      padding-left: 0;
      text-align: center;
      li{
        display: inline-block;
        margin-right: 1rem;
        list-style: none;
        vertical-align: middle;
      }
    }
  }
  .footer-nav-area{
    padding: 1rem 0;
    background: $smokey-gray;
    .footer-nav{
      ul{
        margin: 0;
        padding: .8rem 0;
        width: 360px;
        overflow: hidden;
        li{
          float: left;
          display: inline-block;
          width: 120px;
          box-sizing: border-box;
          a{
            color: $chacole-gray;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .licence {
    margin: 0;
    text-align: right;
  }
  .copyright{
    margin: 0;
    padding: 0;
  }
}

/*doc
---
  title: global footer
  name: global footer
  category: Smartphone
---

``` html_example
<footer class="global-footer">
  <div class="footer-menu">
    <nav>
      <ul class="t_center">
        <li class="d_inline_block"><a href="#">会社案内</a></li>
        <li class="d_inline_block"><a hred="#">ヘルプ</a></li>
        <li class="d_inline_block"><a href="#">パートナー紹介</a></li>
        <li class="d_inline_block"><a href="#">利用規約</a></li>
        <li class="d_inline_block"><a hred="#">個人情報保護方針</a></li>
        <li class="d_inline_block"><a href="#">お祝い金について</a></li>
      </ul>
    </nav>
  </div>
  <p class="lisence">厚生労働大臣許可：13-ユ-305190</p>
  <p class="copyright">&copy; ZIGExN ALL RIGHTS RESERVED.</p>
</footer>
```
*/
