.global-header{
  display: table;
  width: 100%;
  margin-bottom: (10 / 14) * 1rem;
  border-bottom: solid 1px $smokey-gray;
  .site-logo,
  .site-nav{
    display: table-cell;
  }
  .site-logo{
    margin: 0;
    padding: 0;
  }
  .site-navi{
    text-align: right;
    ul{
      margin: 0;
      padding-left: 0;
      li{
        display: inline-block;
        list-style: none;
        text-align: center;
        a{
          display: block;
          padding: .2rem .4rem;
          border-left: solid 1px $smokey-gray;
          color: $chacole-gray;
        }
        [class^='icon'],
        .nav-name{
          display: block;
        }
        [class^='icon-']{
          font-size: (16 / 14)*1rem;
        }
        .nav-name{
          font-size: (8 / 14) * 1rem;
        }
      }
    }
  }
}
