@charset 'utf-8';

//=========================================
//
// tenshoku-ex v3 layout setting
//    date: 2016.05.20
//  author: vancho
// version:0.0.1
//
//=========================================

//=========================================
// section container setting
//=========================================
%box-shadow-black{
  box-shadow: 0 0 3px $chacole-gray;
}
@mixin section-default-style($border-color){
  margin: 0;
  padding: 0;
  border-top: solid 4px $border-color;
  background: $z_color_white;
  @extend %box-shadow-black;
}
.container-red{
  @include section-default-style($cherry-red);
}
.container-blue{
  @include section-default-style($sky-blue);
}
.container-green{
  @include section-default-style($reaf-green);
}
.container-orange{
  @include section-default-style($apricot-orange);
}

.container-demo{
  height: 200px;
}
.container-demo:before{
  content: 'ゴーシュもゴーシュのかっかガラスらを窓に云っ小太鼓たた。';
}

/*doc
---
title: container style
name: container style
category: Smartphone
---

``` html_example
<div class="mb_20 container-red container-demo"></div>
<div class="mb_20 container-blue container-demo"></div>
<div class="mb_20 container-green container-demo"></div>
<div class="mb_20 container-orange container-demo"></div>
```

*/

//=========================================
// pagination
//=========================================
.pagination{
  .page-count{
    margin-bottom: (10 / 14) * 1rem;
  }
  nav{
    display: table;
    width: 100%;
  }
  .prev,.next{
    display: table-cell;
    width: 50%;
  }
  .prev{
    padding-right: .2rem;
  }
  .next{
    padding-left: .2rem;
  }
}

//=========================================
//求人リスト (新着・レコメンド用）
//=========================================
.job-list-wrapper{
  display: table;
  padding: 5px;
  width: 100%;
  border-bottom: solid 1px $smokey-gray;
  box-sizing: border-box;
  &:last-child{
    border-bottom: none;
  }
  .job-list-detail-content,
  .job-list-photo,
  .job-list-link-button{
    display: table-cell;
    vertical-align: middle;
  }
  .job-list-detail-content{
    width: 100%;
    padding-right: 4px;
    .company-name,
    .job-title,
    .job-salary,
    .job-place{
     margin: 0;
    }
    .company-name,
    .job-place{
      font-size: (10 / 14) * 1rem;
    }
    .job-salary{
      font-size: (12 /14) * 1rem;
    }
  }
  .job-list-photo{
    width: (80 / 14) * 1rem;
    padding-right: 4px;
  }
  .job-list-link-button{
    width: (10 / 14) * 1rem;
    background: $smokey-gray;
    border-radius: 4px;
    .link-arrow{
      display: block;
      padding: .2rem .4rem;
      text-decoration: none;
      &:after{
        display: block;
        content: '';
        width: 0;
        height: 0;
        line-height: 0;
        border-style: solid;
        border-color: #000;
        border-width: 4px;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
}

//=========================================
//検索結果用の求人リスト
//=========================================
.results-joblists{
  .jobinfo-content{
    .jobinfo-label{
      margin: 0 0 (5 / 14) * 1rem;
      padding-left: 0;
    }
    .jobinfo-partner{
      margin: 0;
      padding-left: 0;
      .partner-name,
      .partner-logo{
        display: inline-block;
        margin-left: 0;
        padding-left: 0;
        vertical-align: top;
      }
      .partner-name{
        font-size: (10 / 14) * 1rem;
      }
      .partner-logo{
        width: 80px;
      }
    }
    .jobinfo-header{
      display: table;
      .result-jobinfo-title,
      .result-jobinfo-photo{
        display: table-cell;
        vertical-align: middle;
      }
      .result-jobinfo-title{
        font-size: (14 / 14) * 1rem;
        .title-link{
          display: block;
        }
      }
      .result-jobinfo-photo{
        width: (80 / 14) * 1rem;
        text-align: center;
      }
    }
    .jobinfo-details{
      th{
        white-space: nowrap;
      }
      th,td{
        font-size: (10 /14) * 1rem;
      }
    }
    .action-button-set{
      nav{
        display: table;
        width: 100%;
        .detail-button,
        .favorite-button{
          display: table-cell;
          width: 50%;
          box-sizing: border-box;
        }
        .detail-button{
          padding-right: .2rem;
        }
        .favorite-button{
          padding-left: .2rem;
        }
      }
    }
  }
}

//=========================================
// list nav style setting
//=========================================
.list-nav-style{
  margin: 0;
  padding-left: 0;
  font-size: (12 /14) *1rem;
  li{
    list-style: none;
  }
  .list-nav-indent{
    padding-left: 0;
  }
  .list-nav-cols{
  }
  .list-nav-cols-full{
    padding-left: 0;
    border-bottom: solid 1px $smokey-gray;
    &:last-child{
      border-bottom: none;
    }
  }
  .list-nav-button-arrow{
    position: relative;
    display: block;
    padding: .8rem .6rem;
    color: $chacole-gray;
    &:after{
      position: absolute;
      content: '';
      display: block;
      width: (8 / 14) * 1rem;
      height: (8 / 14) * 1rem;
      line-height: 0;
      border-top: solid 1px $cherry-red;
      border-right: solid 1px $cherry-red;
      border-bottom: solid 1px transparent;
      border-left: solid 1px transparent;
      transform: rotate(45deg);
      top: 1rem;
      right: 1rem;
    }
  }
  .slidedown-button{
    position: relative;
    padding: .2rem .4rem;
    background: $smokey-gray;
    font-weight: bold;
    .icon-arrow-down{
      position: absolute;
      display: inline-block;
      width: 0;
      height: 0;
      top: .4rem;
      right: .8rem;
      line-height: 0;
      &.open{
        border-top: solid 5px transparent;
        border-right: solid 5px transparent;
        border-bottom: solid 5px $chacole-gray;
        border-left: solid 5px transparent;
      }
      &.close{
        border-top: solid 5px $chacole-gray;
        border-right: solid 5px transparent;
        border-bottom: solid 5px transparent;
        border-left: solid 5px transparent;
      }
    }
  }
}

//=========================================
// qa-contents  layout setting
//=========================================
.qa-contents{
  .question{
    font-size: (12 / 14) * 1rem;
  }
  .answer{
    font-size: (10 / 14) * 1rem;
  }
}


//=========================================
// site home layout setting
//=========================================
.box-shadow{
  @extend %box-shadow-black;
}
.top-registerarea,
.top-read,
.top-counter{
  background: $z_color_white;
}

.top-registerarea,
.top-read,
.top-counter{
   text-align: center;
}
.top-registerarea{
  margin: (10 / 14)*1rem;
}
.top-read{
  margin: 5px 0 0;
  padding: 5px;
  background: $smokey-gray;
  h1{
    @include font-size(14);
    margin-bottom: 0;
  }
}
.top-counter{
  p{
    margin-bottom: 0;
    .count-num{
      color: $cherry-red;
      font-weight: bold;
      @include font-size(18);
    }
  }
}


.top-refinesearch{
  position: relative;
  padding-bottom: (55 / 14) * 1rem;
  .list-nav-style{
    top: (55 / 14) * 1rem;
  }
  h3{
   margin: 0;
  }
  .tab-inner{
    position: relative;
    margin: (5 / 14) * 1rem;
    .tab-nav{
      position: absolute;
      width: (100 / 3) * 1%;
      height: (50 / 14) * 1rem;
      padding: .2rem .4rem;
      border-radius: 4px 4px 0 0;
      box-sizing: border-box;
      top: (5 / 14) * 1rem;
      &.current{
        border: solid 1px darken($cherry-red, 7%);
        background: $cherry-red;
        color: $z_color_white;
        @include textshadow-black;
      }
      &.disable{
        background: $smokey-gray;
        color: $chacole-gray;
        @include textshadow-white;
      }
      span{
        display: block;
        text-align: center;
      }
      [class^='icon-']{
        font-size: (16 /14) * 1rem;
      }
      .nav-name{
        font-size: (8 / 14) * 1rem;
      }
    }
    .area{
      .tab-nav{
        left: 0;
      }
    }
    .occupation{
      .tab-nav{
        left: (100 / 3) * 1%;
      }
    }
    .feature{
      .tab-nav{
        left: (100 / 3) * 2 *1%
      }
    }
  }
}
.newer-recruit{
  .list-nav-style{
    border-left: none;
  }
}
