@charset 'utf-8';

//=========================================
//
// tenshoku-ex v3 layout setting
//    date: 2016.05.20
//  author: vancho
// version:0.0.1
//
//=========================================

//=========================================
// section container setting
//=========================================
%box-shadow-black{
  box-shadow: 0 0 3px $chacole-gray;
}
@mixin section-default-style($border-color){
  margin: 0;
  padding: 0;
  border-top: solid 4px $border-color;
  background: $z_color_white;
  @extend %box-shadow-black;
}
.container-red{
  @include section-default-style($cherry-red);
}
.container-blue{
  @include section-default-style($sky-blue);
}
.container-green{
  @include section-default-style($reaf-green);
}
.container-orange{
  @include section-default-style($apricot-orange);
}

.container-demo{
  height: 200px;
}
.container-demo:before{
  content: 'ゴーシュもゴーシュのかっかガラスらを窓に云っ小太鼓たた。';
}

//=========================================
// site home layout setting
//=========================================
.box-shadow{
  @extend %box-shadow-black;
}
.top-registerarea,
.top-read,
.top-counter{
  background: $z_color_white;
}

.top-registerarea,
.top-read,
.top-counter{
   text-align: center;
}
.top-registerarea{
  margin: (10 / 14)*1rem;
}
.top-read{
  margin: 5px 0 0;
  padding: 5px;
  background: $smokey-gray;
  h1{
    @include font-size(14);
    margin-bottom: 0;
  }
}
.top-counter{
  p{
    margin-bottom: 0;
    .count-num{
      color: $cherry-red;
      font-weight: bold;
      @include font-size(18);
    }
  }
}
.top-refinesearch{
  h3{
   margin: 0;
  }
  .list-nav-style{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    li{
      list-style: none;
    }
  }
}
/*doc
---
title: container style
name: container style
category: Smartphone
---

``` html_example
<div class="mb_20 container-red container-demo"></div>
<div class="mb_20 container-blue container-demo"></div>
<div class="mb_20 container-green container-demo"></div>
<div class="mb_20 container-orange container-demo"></div>
```

*/

.list-nav-style{
  border-top: solid 1px $smokey-gray;
  border-left: solid 1px $smokey-gray;
  .list-nav-cols{
    border-right: solid 1px $smokey-gray;
    border-bottom: solid 1px $smokey-gray;
    a{
      display: block;
    }
  }
}
