/*---------------------------------------------------
  * main.scss
  * project name in here (sass partial file)
  * date    :
  * author  :
  * version :

  * サイト固有のデザインなどをここに追加していきます。
  * 同じようなクラスが3回以上出てきたらモジュール化しましょう。
  ---------------------------------------------------*/

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: $fontBase;
  line-height: $lineHeight;
  color: $colorText;
}
h1, h2, h3, h4, h5, h6, p, div, ul {
  margin: 0;
  padding: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;

  td,
  th {
    padding: 0;
  }
}
input,
textarea{box-sizing: border-box;}
