@charset 'utf-8';

//=========================================
//
// tenshoku-ex v3 typography setting
//    date: 2016.05.19
//  author: vancho
// version:0.0.1
//
//=========================================


//=========================================
// headline setting
//=========================================

%headline-default-style{
  margin: 0;
  padding: .2rem .4rem;
  @include font-size(18);
  font-weight: bold;
  color: $z_color_white;
  text-shadow: -1px 0 0 rgba($z_color_black, .5);
}

[class^="headlinetype-"]{
  @extend %headline-default-style;
  &.sample-demo:before{
    content:'headline sample demo';
  }
}
.headlinetype-red{
  background: $cherry-red;
}
.headlinetype-blue{
  background: $sky-blue;
}
.headlinetype-green{
  background: $reaf-green;
}
.headlinetype-orange{
  background: $apricot-orange;
}


/*doc
---
title: headline style
name: headline style
category: Smartphone
---

```html_example
<div class="headlinetype-red sample-demo"></div>
<div class="headlinetype-blue sample-demo"></div>
<div class="headlinetype-green sample-demo"></div>
<div class="headlinetype-orange sample-demo"></div>
```

*/ 


