@charset 'utf-8';

//=========================================
//
// tenshoku-ex v3 typography setting
//    date: 2016.05.19
//  author: vancho
// version:0.0.1
//
//=========================================


//=========================================
// headline setting
//=========================================

%headline-default-style{
  margin: 0;
  padding: .2rem .4rem;
  @include font-size(18);
  font-weight: bold;
  color: $z_color_white;
  text-shadow: -1px 0 0 rgba($z_color_black, .5);
}

[class^="headlinetype-"]{
  @extend %headline-default-style;
  &.sample-demo:before{
    content:'headline sample demo';
  }
}
.headlinetype-red{
  background: $cherry-red;
}
.headlinetype-blue{
  background: $sky-blue;
}
.headlinetype-green{
  background: $reaf-green;
}
.headlinetype-orange{
  background: $apricot-orange;
}


/*doc
---
title: headline style
name: headline style
category: Smartphone
---

```html_example
<div class="headlinetype-red sample-demo"></div>
<div class="headlinetype-blue sample-demo"></div>
<div class="headlinetype-green sample-demo"></div>
<div class="headlinetype-orange sample-demo"></div>
```

*/ 


//=========================================
// strong style setting
//=========================================
@mixin strong-style($color){
  font-weight: bold;
  border-bottom: dotted 1px $color;
}
.strong-red{
  @include strong-style($cherry-red);
  color: $cherry-red;
}
.strong-orange{
  @include strong-style($apricot-orange);
  color: $apricot-orange;
}

.strong-demo:before{
  content: 'marker-demo-text-style';
}
/*doc

---
title: strong style
name: strong style
category: Smartphone
---

``` html_example

<span class="strong-red strong-demo"></span>
<span class="strong-orange strong-demo"></span>
```

*/


//=========================================
// marker style setting
//=========================================
@mixin marker-color($color){
  background: linear-gradient(transparent 60%, $color 60%); 
}
.marker-red{
  @include marker-color(lighten($cherry-red,30%));
}
.marker-blue{
  @include marker-color(lighten($sky-blue,30%));
}
.marker-green{
  @include marker-color(lighten($reaf-green,30%));
}
.marker-orange{
  @include marker-color(lighten($apricot-orange,30%));
}

.marker-demo:before{
  content: 'marker-demo-text-style';
}

/*doc

---
title: marker style
name: marker style
category: Smartphone
---

``` html_example

<span class="marker-red marker-demo"></span>
<span class="marker-blue marker-demo"></span>
<span class="marker-green marker-demo"></span>
<span class="marker-orange marker-demo"></span>
```

*/

//=========================================
// icon setting
//=========================================
%icon-default-style{
  display: inline-block;
  margin: 0;
  padding: .2rem .4rem;
  border-radius: 2px;
  @include font-size(10);
}
.icon-new{
  @extend %icon-default-style;
  background: $cherry-red;
  color: $z_color_white;
  font-weight: bold;
}
.icon-type{
  @extend %icon-default-style;
  background: $chacole-gray;
  color: $z_color_white;
  font-weight: bold;
}
.icon-pr{
  @extend %icon-default-style;
  border: solid 1px $reaf-green;
}

.icon-demo:before{
  content: 'icon demo';
}

/*doc

---
title: icon style
name: icon style
category: Smartphone
---

``` html_example

<span class="icon-new icon-demo"></span>
<span class="icon-type icon-demo"></span>
<span class="icon-pr icon-demo"></span>
```

*/


//=========================================
// bage setting
//=========================================

%bage-default-style{
  margin: 0;
  padding: .2rem .4rem;
  border-radius: 2rem;
  color: $z_color_white;
  @include font-size(8);
  text-shadow: 0 -1px 0 rgba($z_color_black, .5);
}

.bage-color-red{
  @extend %bage-default-style;
  background: $cherry-red;
}
.bage-color-blue{
  @extend %bage-default-style;
  background: $sky-blue;
}
.bage-color-green{
  @extend %bage-default-style;
  background: $reaf-green;
}
.bage-color-orange{
  @extend %bage-default-style;
  background: $apricot-orange;
}
.bage-demo:before{
  content: '999';
}

/*doc

---
title: bage style
name: bage style
category: Smartphone
---

``` html_example

<span class="bage-color-red bage-demo"></span>
<span class="bage-color-blue bage-demo"></span>
<span class="bage-color-green bage-demo"></span>
<span class="bage-color-orange bage-demo"></span>
```

*/

