@charset 'utf-8';

//=========================================
//
// tenshoku-ex v3 typography setting
//    date: 2016.05.19
//  author: vancho
// version:0.0.1
//
//=========================================


//=========================================
// headline setting
//=========================================

%headline-default-style{
  margin: 0;
  padding: .2rem .4rem;
  @include font-size(18);
  font-weight: bold;
  color: $z_color_white;
  text-shadow: -1px 0 0 rgba($z_color_black, .5);
}

[class^="headlinetype-"]{
  @extend %headline-default-style;
  &.sample-demo:before{
    content:'headline sample demo';
  }
}
.headlinetype-red{
  background: $cherry-red;
}
.headlinetype-blue{
  background: $sky-blue;
}
.headlinetype-green{
  background: $reaf-green;
}
.headlinetype-orange{
  background: $apricot-orange;
}


/*doc
---
title: headline style
name: headline style
category: Smartphone
---

```html_example
<div class="headlinetype-red sample-demo"></div>
<div class="headlinetype-blue sample-demo"></div>
<div class="headlinetype-green sample-demo"></div>
<div class="headlinetype-orange sample-demo"></div>
```

*/ 


//=========================================
// icon setting
//=========================================
%icon-default-style{
  display: inline-block;
  margin: 0;
  padding: .2rem .4rem;
  border-radius: 2px;
  @include font-size(10);
}
.icon-new{
  @extend %icon-default-style;
  background: $cherry-red;
  color: $z_color_white;
  font-weight: bold;
}
.icon-type{
  @extend %icon-default-style;
  background: $chacole-gray;
  color: $z_color_white;
  font-weight: bold;
}
.icon-pr{
  @extend %icon-default-style;
  border: solid 1px $reaf-green;
}

.icon-demo:before{
  content: 'icon demo';
}



/*doc

---
title: icon style
name: icon style
category: Smartphone
---

``` html_example

<span class="icon-new icon-demo"></span>
<span class="icon-type icon-demo"></span>
<span class="icon-pr icon-demo"></span>
```

*/
