/*---------------------------------------------------
  * valiable.scss
  * tenshoku model change (sass partial file)
  * date    :2016.04.27
  * author  :vancho
  * version :0.0.1
  ---------------------------------------------------*/

// colors
$colorText: $z_color_gray_70 !default; // #333
$primary_color: #97de4f;
$secondery_color: #a6937c;
$link_color: #4d4d4d;

// baseline line height
$lineHeight: 1.5 !default;

// font sizes
$fontXSmall: 10px !default;
$fontSmall: 12px !default;
$fontBase: 14px  !default;
$fontMedium: 16px !default;
$fontLarge: 20px !default;
$fontXLarge: 24px !default;
$fontXXLarge: 36px !default;
$fontHuge: 42px !default;

// btn spacing
$btnXSmall: 8px 10px !default;
$btnSmall: 4px 6px !default;
$btnMidium: 6px !default;
$btnLarge: 14px 16px !default;
$btnXLarge: 16px 18px !default;

// breadcrumb
$breadcrumbDivider: '>' !default;
$breadcrumbSpace: 0 .5em !default;

// layout
$responsive : true; // コンテナレイアウトをレスポンシブ対応にするか?  する -> true, しない -> false
$cols_count: 12; // グリッドカラムの数
$cols_spacing: 15; // グリッドカラムの余白
$cols_total_width: 100%; // グリッドカラムの合計幅
$table_cols_spacing: 0; // テーブルグリッドカラムの余白
